.card > span {
    font-size: 6rem;
}
.card {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background-color: #292929;
    border-radius: 1.5rem;
    flex-grow: 1;
    max-height: 16rem;
    text-decoration: none;
    color: white;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    width: fit-content;
}

#bottomTwo {
    width: 100%;
}

body{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-family: 'Victor Mono', monospace;
    min-height: 100vh;
}

main {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

h1 {
    font-size: 6rem;
    color: white;
    font-style: italic;
    font-weight: bold;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
}

header > a{
    color: white;
}

@media screen and (max-width: 55rem) {
    section {
        flex-direction: column;
        gap: 1rem;
    }
    .card {
        font-size: 1.2rem;
        flex-direction: row;
        padding: 1.8rem;
        width: 100%;
    }
    .card > span {
        font-size: 3rem;
    }

    h1 {
        font-size: 3rem;
    }
    main {
        gap: 1rem;
    }
}