{{ define "main" }}
    <div id="bottom-left-card">
        <div class="fit-width-hr">
            <h3><i>{{ (.Site.GetPage "index").Title }}</i></h3>
            <hr>
        </div>
        <p>{{ (.Site.GetPage "index").Content }}</p>
        <b>&gt;</b> {{ partial "menus" . }}
        <br><br>
        {{ partial "languages" . }}
    </div>

    <div id="top-right-card">
        <div class="flag-counter">
            <iframe
                frameborder="0"
                style="border: none; background: none; width: 380px; height: 100px; overflow: hidden;"
                scrolling="no"
                src="https://konakona.moe/flagcounter/flags"
            >
            </iframe>
        </div>
        <img title="Visitor counter!" style="float: right;" height="50" width="auto" src="https://konakona.moe/flagcounter/counter?digits=9&theme=asoul" alt="counter"> 
    </div>
{{ end }}
