{{ define "main" }}
    <main id="main-card">
        <div class="fit-width-hr">
            <h1>
                <a href="..">←</a>
                <i>{{ .Title }}</i>
                <a href="../index.xml"><img height="24" width="24" src="/icons/rss.svg" alt="rss"></a>
            </h1>
            <hr>
        </div>
        <br>
        
        {{ partial "languages" . }}
        {{ if gt (len .AllTranslations) 1 }}<br>{{ end }}

        {{ .Content }}

        {{ if gt (len (where .Pages "Kind" "page")) 0 }}
            <ul>
            {{ range (.Paginate (where .Pages "Kind" "page")).Pages }}
                <li>
                    <span class="section-post-date">{{ .Date.Format "2006-01-02" }}:</span> &nbsp;<a href="{{ .Page.RelPermalink }}">{{ .Title | truncate 120 }}</a>
                </li>
            {{ end }}
            </ul>
        {{ else }}
            <p class="no-posts">{{ i18n "no-posts" . }}</p>
        {{ end }}

        {{ template "_internal/pagination.html" . }}
    </main>
{{ end }}