* {
    font-family: Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: #eee; }

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out, transform 10s ease-in-out;
    opacity: 0;
    z-index: 0;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0.6) 70%);
    z-index: 1;
}

.background.active {
    opacity: 1;
    transform: scale(1.1);
}

p {
    margin-top: 5px;
}

button {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    outline: 1px solid #222222;
    border-radius: 5px;
    height: 100px;
    width: 50px;
    position: absolute;
}

button#prev {
    left: 20px;
}

button#next {
    right: 20px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);

}

#main-card {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #222222;
    width: 850px;
    max-height: 70vh;
    overflow: scroll;
}

#main-card h1 {
    margin: 0;
}

#main-card h2, #main-card h3, #main-card h4, #main-card h5, #main-card h6 {
    margin-bottom: 0;
}

#top-right-card {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #222222;
    width: fit-content;
    height: fit-content;
}

div.flag-counter {
    padding: 0;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
}

#bottom-left-card {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #222222;
    max-width: 320px;
    height: fit-content;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #DDDDDD;
}

#bottom-left-card h3, #top-right-card h3 {
    margin: 0;
}

#bottom-left-card ul, #top-right-card ul {
    margin: 0;
    padding-left: 20px;
}

#bottom-left-card p, #top-right-card p {
    margin: 12px 0;
}

p#lang {
    margin: 0;
    font-size: 10px;
}

.fit-width-hr {
    width: fit-content;
}

.fit-width-hr hr {
    color: #FFFFFF;
    margin: 0;
    border: none;
    border-bottom: 1px solid;
    height: 1px;
    width: 100%;
}

#metadata {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 1;
    color: #FFFFFF;
    margin: 0;
    text-align: end;
}

#metadata #location {
    margin: 0;
    font-size: 32px;
}

#metadata #time {
    margin: 0;
    font-size: 18px;
}

p.no-js {
    color: #FFFFFF;
    background-color: #000000AA;
    padding: 2px;
    margin: 0;
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
}

h1#_404-title {
    z-index: 1;
    color: #FFFFFF;
    font-size: 64px;
    text-shadow: #000 0 0 20px;
}

code {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #00000052;
    padding: 1px 4px;
    border-radius: 5px;
    font-family: monospace;
}

div.highlight > pre {
    margin: 0;
    background-color: #282c3470 !important; /* I hate !important */
}

.highlight * {
    font-size: 14px;
    font-family: "Cascadia Code";
    font-weight: 500;
}

.highlight code {
    padding: 0;
}

.highlight pre {
    padding: 5px 0;
}

.highlight tr, .highlight pre {
    border: none;
}

.highlight div:first-child {
    border-radius: 4px;
}

.highlight td:first-child pre, .highlight pre {
    border-top-left-radius: 4px;
    border-top-right-radius: unset;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: unset;
    overflow-y: hidden;
}

.highlight td:last-child pre, .highlight pre {
    border-radius: unset;
}

.highlight td:last-child pre code, .highlight pre code {
    white-space: pre;
}

.pagemeta {
    position: relative;
    float: right;
    font-size: 10px;
}

.copyright-notice {
    position: relative;
    float: left;
    font-size: 10px;
}

.pagination {
    display: flex;
    list-style: none;
    margin: 3vh 0 1vh 0;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: 2px 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    margin: 5px;
}

.page-item.active {
    text-decoration: underline;
    user-select: none;
}

.page-item {
    font-size: 14px;
}

span.section-post-date {
    color: #CCCCCC;
    font-weight: bold;
}

blockquote {
    margin: 15px 0;
	font-style: italic;
    animation: 0.01s textFlicker alternate infinite;
    padding: 25px 35px;
	margin-bottom: 16px;
	position: relative;
    background: linear-gradient(
        to right,
        color-mix(in srgb, currentColor 8%, transparent),
        color-mix(in srgb, currentColor 30%, transparent),
        color-mix(in srgb, currentColor 8%, transparent));
}

blockquote::before {
	content: ">";
	font-size: 60px;
    opacity: .4;
	position: absolute;
	top: 10px;
	left: 15px;
    z-index: -1;
}

div.buttons-88x31 {
    text-align: center;
}

@media screen and (max-width: 1100px) {
    #main-card {
        width: 75vw;
        height: 75vh;
    }
}

@media screen and (max-width: 800px) {
    .pagemet, .copyright-notice {
        position: relative;
        font-size: 10px;
    }

    #main-card {
        width: 75vw;
        height: 70vh;
    }

    #main-card img:not(.button-88x31) {
        width: 100%;
    }

    h1#_404-title {
        z-index: 1;
        color: #FFFFFF;
        font-size: 26px;
        text-shadow: #000 0 0 20px;
    }

    #bottom-left-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        color: #FFFFFF;
        border-radius: 8px;
        width: 70vw;
    }

    #top-right-card {
        display: none;
    }

    button#prev {
        left: 5px;
    }
    
    button#next {
        right: 5px;
    }

    button {
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        font-size: 22px;
        height: 80px;
        width: 25px;
        position: absolute;
    }

    .background::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(0, 0, 0, .15) 30%, rgba(0, 0, 0, 0.3) 70%);
        z-index: 1;
    }

    #metadata {
        text-align: center;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 90vw;
    }

    #metadata #location {
        margin: 0;
        font-size: 22px;
    }
    
    #metadata #time {
        margin: 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    button#prev, button#next {
        display: none;
    }

    #main-card {
        width: 75vw;
        height: 60vh;
        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
