---
const today = new Date();
---

<footer>
	 dlol {today.getFullYear()}. - <a href="https://github.com/Dlol/website" style="color:white;">source code</a> <br>
	 copyleft for life
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
